.main__introduce {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 150px auto;
}
.main__introduce-title {
  margin: 30px 30px;
  font-size: 35px;
}
.main__introduce-content {
  font-size: 20px;
  line-height: 250%;
  text-align: center;
}

.main__activity {
  background-color: #e6e8eb;
}
.main__acticity-list {
  width: 100%;
}

.activity__column {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .activity {
    width: 50%;
  }

  .ord {
    order: 2;
  }
}
